.header {
  margin: 0;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.header .burger-container {
  justify-self: end;
  border-radius: 0.5rem;
  z-index: 9999;
}
.header .burger-container i {
  font-size: 2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.header .burger {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .burger-container {
    display: none;
  }
}

.header .header-navigation {
  margin: 0;
  gap: 1rem;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;

  transform: translateX(-100%);
  transition: transform 0.3s;

  display: flex;
}
@media screen and (min-width: 768px) {
  .header .header-navigation {
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    background-color: unset;
    width: unset;
    height: unset;
    transform: unset;
    transition: unset;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
body:has(.burger:checked) {
  overflow: hidden;
}
.burger-close {
  display: none;
}
.burger-container:has(.burger:checked) .burger-close {
  display: block;
}
.burger-container:has(.burger:checked) .burger-icon {
  display: none;
}

.burger-container:has(.burger:checked) + .header-navigation {
  transform: translateX(0);
}

.header a:has(.pokerizer-logo) {
  z-index: 9999;
}

.header .pokerizer-logo {
  width: 3rem;
  height: auto;
}

.header-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .header-links {
    display: flex;
    flex-direction: row;
  }
}

.user-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.user-links .user-profile-pic {
  height: 4rem;
}

.header a,
.header .header-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: color 0.3s, box-shadow 0.3s, filter 0.3s, border 0.3s;
}
.header a:hover,
.header .header-link:hover {
  color: var(--primary);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary);
}

.header a:has(.pokerizer-logo),
.header a:has(.user-profile-pic) {
  padding: 0;
  border: none;
}

.header a:has(.pokerizer-logo):hover,
.header a:has(.user-profile-pic):hover {
  border: none;
  box-shadow: none;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}
