.header {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-links .pokerizer-logo {
  width: 3rem;
  height: auto;
}

.header-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-links .user-profile-pic {
  height: 4rem;
}

.header a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 0.5rem;
  transition: color 0.3s, box-shadow 0.3s, filter 0.3s;
}
.header a:hover {
  color: var(--hovered-link);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header a:has(.pokerizer-logo):hover,
.header a:has(.user-profile-pic):hover {
  box-shadow: none;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}
