.pokedex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.pokedex .pokedex-name {
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
}

.pokedex .pokedex-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .pokedex .pokedex-filters {
    flex-direction: row;
    justify-content: center;
  }
}

.pokedex .pokedex-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.pokedex .pokedex-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pokedex .pokedex-pagination i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
}
.pokedex .pokedex-pagination i:hover {
  color: var(--primary);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
