.footer {
  font-size: 0.9rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-links a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: var(--primary);
}

.footer-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
