.pokemonCard {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: box-shadow 0.3s, filter 0.5s, background-color 0.5s;
}
.pokemonCard:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.pokedex:has(.pokemonCard:hover) .pokemonCard:not(:hover) {
  filter: grayscale(0.25);
  background-color: black;
}

.pokemonCard h2 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  cursor: pointer;
}
.pokemonCard img {
  width: 8rem;
  filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
  cursor: pointer;
}
.pokemonCard-controls {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
