@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'); /* Bootstrap icons CDN */

:root {
  --primary: hsl(207.2995861876241, 100%, 25%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 17px;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Site gradient background */
html {
  background-color: hsla(163, 0%, 96%, 1);
  background-image: radial-gradient(
      circle at 37% 25%,
      hsla(166, 52%, 85%, 1) 6.688754566361296%,
      transparent 44.98438254159411%
    ),
    radial-gradient(
      circle at 86% 50%,
      hsla(28, 52%, 85%, 1) 6.688754566361296%,
      transparent 44.98438254159411%
    );
  background-blend-mode: color, color;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

.bg-blue-gradient {
  background-color: hsl(204, 0%, 100%);
  background-image: radial-gradient(
      circle at 0% 0%,
      hsl(207.2995861876241, 100%, 25%) 3%,
      transparent 70%
    ),
    radial-gradient(
      circle at 100% 0%,
      hsl(207.2412045062839, 100%, 40%) 3%,
      transparent 39%
    ),
    radial-gradient(
      circle at 60% 102%,
      hsl(207.08737864077668, 100%, 32%) 0%,
      transparent 134%
    );
  background-blend-mode: normal, normal, normal;
}

body {
  --sb-track-color: transparent;
  --sb-thumb-color: var(--primary);
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
